.App {
  text-align: center;
  color: white;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

.grid {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

.grid button {
  background: var(--primary-color);
  border: 8px solid white;
  padding: .33rem;
  color: white;
  font-family: inherit;
}

.grid button:hover {
  background: white;
  color: var(--primary-color);
}

.grid button:disabled {
  cursor: not-allowed;
  color: lightgray;
  background: red;
  border-color: white;
}

.lost {
  color: red;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
